<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <title>Smart Presence</title>
    </head>            
    <body style="text-align:center; font-family: 'Open Sans', sans-serif;">
        <div class="container">
            <h1>Smart Presence</h1>
            <br><br><br>
            <h3>I want to...</h3>
            <br>
            <div class="btn-group-vertical btn-group-lg">
                <button type="button" class="btn btn-primary" onclick="window.location.href = 'register-presence'">Register my presence on an open session</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href = 'new-session'">Open a presence registration session</button>
                <button type="button" class="btn btn-default" onclick="window.location.href = 'view-blocks'">View mined blocks</button>
            </div>
        </div>
    </body>
</html>
