<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <title>Smart Presence</title>
    </head>            
    <body style="font-family: 'Open Sans', sans-serif;">
        <div class="container">
            {% if session and session.open %}
                <h1>Smart Presence - Presence Registration at Session {{ session.id }}</h1>
                <br>
                <h3>Session Info</h3>
                <div class="row no-gutters">
                    <label for="session-name" class="control-label col-xs-4">Name:</label>
                    <div id="session-name">{{ session.name }}</div>
                </div>
                <div class="row no-gutters">
                    <label for="session-public-key" class="control-label col-xs-4">Public key:</label>
                    <textarea  id="session-public-key" rows="8" cols="60" disabled>{{ session.publicKey.exportKey()|format_key() }}</textarea>
                </div>
                <br>
                <div class="row no-gutters">
                    <label for="session-id" class="control-label col-xs-4">Session ID:</label>
                    <div id="session-id">{{ session.id }}</div>
                </div>
                <br>
                <b>My location:</b>
                <div id="map" style="height: 300px"></div>
                <script>
                    var userLatitude = -1;
                    var userLongitude = -1;

                  var map, infoWindow;
                  function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: -27.601142, lng: -48.521248},
                      zoom: 13
                    });
                    infoWindow = new google.maps.InfoWindow;

                    // Try HTML5 geolocation.
                    if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = {
                          lat: position.coords.latitude,
                          lng: position.coords.longitude
                        };

                        userLatitude = position.coords.latitude;
                        userLongitude = position.coords.longitude;
                        document.getElementById("latitude").value = userLatitude
                        document.getElementById("longitude").value = userLongitude

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('You are here.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                      }, function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                      });
                    } else {
                      // Browser doesn't support Geolocation
                      handleLocationError(false, infoWindow, map.getCenter());
                    }
                  }

                  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                    infoWindow.setPosition(pos);
                    infoWindow.setContent(browserHasGeolocation ?
                                          'ERROR: The Geolocation service failed.<br>Please enable your location services.' :
                                          'ERROR: Your browser doesn\'t support geolocation.');
                    infoWindow.open(map);
                  }
                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaR52gqiTinRfbyP4EkFw-BymcuNEZAqc&callback=initMap">
                </script>
                <br>
                <form action="{{ url_for('register_presence') }}" method="post">
                    <input type="hidden" value="{{ session.id }}" class="form-control" id="session-id" name="session-id">
                    <input type="hidden" class="form-control" id="latitude" name="latitude">
                    <input type="hidden" class="form-control" id="longitude" name="longitude">
                    <div class="form-group">
                        <label for="private-key">My key pair:</label><br>
                        <textarea rows="8" cols="60" id="private-key" name="private-key"></textarea>
                    </div>
                    <button type='submit' class="btn btn-success">Confirm</button>
                </form>
            {% else %}
                <h1>Smart Presence - Presence Registration</h1>
                <br>
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% elif session and not session.open %}
                    <div class="alert alert-danger">
                        The requested session is not open anymore.
                    </div>
                {% endif %}
                <br>
                <form action="{{ url_for('register_presence') }}" method="post">
                    <div class="form-group">
                        <label for="session-id">Session id:</label>
                        <input required type="text" class="form-control" id="session-id" name="session-id">
                    </div>
                    <button type='submit' class="btn btn-primary">Next</button>
                </form>
            {% endif %}
        </div>
    </body>
</html>
