<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <title>Smart Presence</title>
    </head>            
    <body style="font-family: 'Open Sans', sans-serif;">
        <div class="container">
            {% if session %}
                <h1>Smart Presence</h1>
                <br>
                <h3>Session Info</h3>
                <div class="row no-gutters">
                    <label for="session-name" class="control-label col-xs-4">Name:</label>
                    <div id="session-name">{{ session.name }}</div>
                </div>
                <div class="row no-gutters">
                    <label for="session-public-key" class="control-label col-xs-4">Public key:</label>
                    <div id="session-public-key">{{ session.publicKey }}</div>
                </div>
                <div class="row no-gutters">
                    <label for="session-expiration" class="control-label col-xs-4">Status:</label>
                    {% if session.open %}
                        <div id="session-public-key" class="label label-success">Open</div>
                    {% else %}
                        <div id="session-public-key" class="label label-danger">Closed</div>
                    {% endif %}
                </div>

                <div class="row no-gutters">
                    <label for="session-id" class="control-label col-xs-4">Generated ID:</label>
                    <div id="session-id">{{ session.id }}</div>
                </div>
                <br>
                <div class="alert alert-info">
                    Provide attendees with the generated ID, so that they may register presence in this session.
                </div>
                <br>
                <h3>Presence Registration Requests</h3>
                <table class="table table-striped" style="font-size: 12px">
                    <thead>
                        <tr>
                            <th>Date/time</th>
                            <th>Public key</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th style="text-align: right"></th>
                        </tr>
                    </thead>
                        <tr>
                            <td>11/07/2017 11:01 AM</td>
                            <td>791A97354E195F475897150C39476193D7CAE4</td>
                            <td>40.6791886253337</td>
                            <td>-73.9716247409697</td>
                            <td style="text-align: right">
                                <button type="button" class="btn btn-default btn-sm" onclick="window.open('https://www.google.com/maps/?q=40.6791886253337,-73.9716247409697')">
                                    <span class="glyphicon glyphicon-map-marker"></span> Map
                                </button>
                                <button type="button" class="btn btn-success btn-sm")">Approve</button>
                                <button type="button" class="btn btn-danger btn-sm")">Reject</button>
                            </td>
                        </tr>
                </table>
                <br>
                <h3>Approved Requests</h3>
                <table class="table table-striped" style="font-size: 12px">
                    <thead>
                        <tr>
                            <th>Date/time</th>
                            <th>Public key</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th style="text-align: right">Block ID</th>
                        </tr>
                    </thead>
                        <tr>
                            <td>11/07/2017 11:01 AM</td>
                            <td>791A97354E195F475897150C39476193D7CAE4</td>
                            <td>40.6791886253337</td>
                            <td>-73.9716247409697</td>
                            <td style="text-align: right">7855562</td>
                        </tr>
                        <tr>
                            <td>11/07/2017 11:01 AM</td>
                            <td>791A97354E195F475897150C39476193D7CAE4</td>
                            <td>40.6791886253337</td>
                            <td>-73.9716247409697</td>
                            <td style="text-align: right">Pending</td>
                        </tr>
                </table>
                <br>
                <h3>Rejected Requests</h3>
                <table class="table table-striped" style="font-size: 12px">
                    <thead>
                        <tr>
                            <th>Date/time</th>
                            <th>Public key</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                        <tr>
                            <td>11/07/2017 11:01 AM</td>
                            <td>791A97354E195F475897150C39476193D7CAE4</td>
                            <td>40.6791886253337</td>
                            <td>-73.9716247409697</td>
                        </tr>
                </table>
                <br>
                {% if session.open %}
                    <form action="{{ url_for('close_session') }}" method="post">
                        <input type="hidden" value="{{ session.id }}" class="form-control" id="id" name="id">
                        <button type='submit' class="btn btn-danger">Close</button>
                    </form>
                {% endif %}
            {% else %}
                <br>
                <div class="alert alert-danger">
                    This session does not exist.
                </div>
            {% endif %}
        </div>
    </body>
</html>
