<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <title>Smart Presence</title>
    </head>            
    <body style="font-family: 'Open Sans', sans-serif;">
        <div class="container">
            <h1>Smart Presence - Latest 10 Blocks</h1>
            <br><br>
            <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover(); 
            });

            function copyToClipboard(element) {
                var aux = document.createElement("input");
                aux.setAttribute("value", document.getElementById(element).value);
                  document.body.appendChild(aux);
                  aux.select();
                  document.execCommand("copy");

                  document.body.removeChild(aux);
            }
            </script>
            {% if blocks|length == 0 %}
                <div class="alert alert-info">The chain is empty!</div>
            {% else %}
                <table class="table table-striped" style="font-size: 12px">
                    <thead>
                        <tr>
                            <th style="text-align: right">#</th>
                            <th>Date/time</th>
                            <th style="text-align: right">Transactions</th>
                            <th>Hash</th>
                        </tr>
                    </thead>
                        {% for block in blocks %}
                            <tr>
                                <td style="text-align: right"><a href="{{ url_for('view_block', id=block.id) }}">{{ block.id }}</a></td>
                                <td>{{ block.timestamp|format_datetime() }}</td>
                                <td style="text-align: right">{{ block.size }}</td>
                                <td>{{ block.hash|base64_encode() }}</td>
                            </tr>
                        {% endfor %}
                </table>
            {% endif %}
        </div>
    </body>
</html>
